@import '../fonts/font.css'
@import 'normalize.css'
//@import 'sprite'
@import 'mixins'
@import '../stylus/variables'
@import '../stylus/typography'
@import nib
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

*
  box-sizing border-box

html, body
  height: 100%
  width: 100%
  background-image: linear-gradient(145deg, #856dd8, #2328ae);
  font-family: 'Roboto', sans-serif;
  color: #171b20;

*:focus
  outline: none;

a
  text-decoration: none
  color: #5b50c6;

ol
  margin: 0

.wrapper
  position: relative
  max-width: 1440px
  width: 100%
  height: 100vh
  margin: auto
  display: flex;
  justify-content: center;

.row
  display: flex
  justify-content: space-between;
  width: 100%;

.center
  align-items: center;

.column
  display: flex
  flex-direction: column
  justify-content: space-between;
  width: 300px
  & + &
    margin-left: 60px
  //width: 50%

.form
  border-radius: 6px;
  position: absolute
  display: flex
  max-width 720px
  background-color: #fff
  top: 10%
  /*z-index: 0;*/
  &__inner
    padding: 30px
  //&__row
  //  width: 100%
  &__title
    font-size: 26px;

  &__item
    position: relative
    margin-top: 22px
    &--required
      &:after
        content: '*'
        color #e63333;
        position: absolute;
        right: -20px;
        top: 30%;
        font-size: 30px;
    &--sex
      margin: 30px auto
      width: 90%
      text-align: center;

  &__input
    width: 100%
    padding: 20px
    border-radius: 6px;
    border: solid 1.2px #b0b7be;

    &:focus
      outline: none;
      border: solid 1.2px #636f7b;
    &-placeholder
      position: absolute;
      pointer-events: none;
      left: 20px;
      top: 21px;
      color: #808890;
      transition: 0.2s ease all;
  &__select
    height: 58px
    background-color: white
    &-option
      background-color: white
  &__submit
    &-btn
      border: 0px
      text-transform: uppercase
      border-radius: 100px;
      background-color: #2328ae;
      color:white
      font-size: 16px;
      padding: 15px
      width: 100%
      cursor: pointer
  &__file
    border-radius: 6px 6px 0 6px;
    background-color: #ffc739;
    padding: 20px;
    min-width: 340px;
    /*position: relative*/
    z-index: auto;
    //&:after
    //  content: ''
    //  width: 30px
    //  height: 30px
    //  border-radius: 50%;
    //  background-color: #b58200;
    //  position: absolute
    //  bottom: -15px
    //  right: 0
    //  z-index: -1;
    &-after
      position: absolute;
      right: 0;
      bottom: -13px;
  &__info
    &-item
      & + &
        margin-top: 20px
  &__eye
    position: absolute
    right: 15px;
    top: 22px;
    cursor: pointer
    //&-svg
    //  height: 34px
    #opened
      display: none
  //&__checkbox
  //  &-input
  //    padding: 18px
  //    font-size: 30px

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border: solid 1px #b0b7be;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  background-color: #5b50c6
  -webkit-transition: .4s;
  transition: .4s;
}

//input:checked + .slider {
//  background-color: #2196F3;
//}
//
//input:focus + .slider {
//  box-shadow: 0 0 1px #2196F3;
//}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.form__input:focus ~ .form__input-placeholder,
.form__input:not(:focus):valid ~ .form__input-placeholder
//.form__input:not(:focus):invalid ~ .form__input-placeholder
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;


.input-file {
  border: 1px dashed #ccc;
  display: table-cell;
  padding: 30px;
}

.label-input-file {
  position: relative;
  width: 100%;
}
.label-input-file span {
  display: block;
  width: 100%;
  //padding: 5px;
  font-weight: normal;
  cursor: pointer;
  color white
  text-align: center
  padding: 50px
  border: dashed 2px #ffffff;
  border-radius: 6px;
  text-transform: uppercase
}
.label-input-file input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 768px)
  .form
    width: 100%
  .column
    width: 45%
    & + &
      margin-left: auto
  .form__file
    border-radius: 6px 6px 6px 6px;
    min-width: 100%
    &-after
      display: none

@media only screen and (max-width: 568px)
  .form
    top: 0
  .form__inner
    flex-direction: column
  .column
    width: 100%
    & + &
      margin-top: 30px