/*@import '../fonts/font.css'*/
@import 'normalize.css'
//@import 'sprite'
/*@import 'mixins'
@import '../stylus/variables'
@import '../stylus/typography'*/
@import nib
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

*
  box-sizing border-box

html, body
  height: 100%
  width: 100%
  background-image: linear-gradient(145deg, #856dd8, #2328ae);
  font-family: 'Roboto', sans-serif;
  color: #171b20;

*:focus
  outline: none;

a
  text-decoration: none
  color: #5b50c6;

ol
  margin: 0

.wrapper
  position: relative
  max-width: 1440px
  width: 100%
  height: 100vh
  margin: auto
  display: flex;
  justify-content: center;
  align-items: center;

.row
  display: flex
  justify-content: space-between;
  width: 100%;

.center
  align-items: center;

.column
  display: flex
  flex-direction: column
  justify-content: space-between;
  width: 300px
  & + &
    margin-left: 60px
  //width: 50%

.form
  border-radius: 6px;
  //position: absolute
  //display: flex
  max-width 720px
  background-color: #fff
  //top: 10%
  /*z-index: 0;*/
  &__inner
    padding: 30px
  //&__row
  //  width: 100%
  &__title
    font-size: 26px;

  &__item
    position: relative
    margin-top: 22px
    &--required
      &:after
        content: '*'
        color #e63333;
        position: absolute;
        right: -20px;
        top: 30%;
        font-size: 30px;
    &--sex
      margin: 30px auto
      width: 90%
      text-align: center;

  &__input
    width: 100%
    padding: 20px
    border-radius: 6px;
    border: solid 1.2px #b0b7be;
    -webkit-text-security: none!important
    &:invalid
      border-color: #e63333
      & ~ .form__input-placeholder
        color #e63333



    &:focus
      outline: none;
      border: solid 1.2px #636f7b;
    &-placeholder
      position: absolute;
      pointer-events: none;
      left: 20px;
      top: 21px;
      color: #808890;
      transition: 0.2s ease all;
  &__select
    height: 58px
    background-color: white
    &-option
      background-color: white
  &__submit
    &-btn
      border: 0px
      text-transform: uppercase
      border-radius: 100px;
      background-color: #2328ae;
      color:white
      font-size: 16px;
      padding: 15px
      width: 100%
      cursor: pointer
  &__file
    border-radius: 6px 6px 0 6px;
    background-color: #ffc739;
    padding: 20px;
    min-width: 340px;
    /*position: relative*/
    z-index: auto;
    //&:after
    //  content: ''
    //  width: 30px
    //  height: 30px
    //  border-radius: 50%;
    //  background-color: #b58200;
    //  position: absolute
    //  bottom: -15px
    //  right: 0
    //  z-index: -1;
    &-after
      position: absolute;
      right: 0;
      bottom: -13px;
  &__info
    &-img
      min-width: 80px;
    &-item
      & + &
        margin-top: 20px
  &__eye
    position: absolute
    right: 15px;
    top: 22px;
    cursor: pointer
    background-color: #fff
    //&-svg
    //  height: 34px
    #opened
      display: none
  &__checkbox
    //display: flex
    &-label
      max-width: 93%
    &-input
      &:invalid
        border-color #e63333



[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: solid 1px #b0b7be;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #2328ae;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}


/* hover style just for information */
label:hover:before {
  border: 1px solid #5b50c6!important;
}


.form__input:focus ~ .form__input-placeholder,
.form__input:not(:focus):valid ~ .form__input-placeholder,
.form__input-placeholder.invalid
//.form__input:not(:focus):invalid ~ .form__input-placeholder
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;


.input-file {
  border: 1px dashed #ccc;
  display: table-cell;
  padding: 30px;
}

.label-input-file {
  position: relative;
  width: 100%;
}
.label-input-file span {
  display: block;
  width: 100%;
  //padding: 5px;
  font-weight: normal;
  cursor: pointer;
  color white
  text-align: center
  padding: 50px
  border: dashed 2px #ffffff;
  border-radius: 6px;
  text-transform: uppercase
}
.label-input-file input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


.btn-switch
  /*font-size: 6em;*/
  width: 54px;
  height: 30px;
  margin: auto;

  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__radio
    display: none;

  &__label
    display: inline-block;
    padding: .75em .5em .75em .75em;
    vertical-align: top;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5;
    color: #5b50c6;
    cursor: pointer;
    transition: color .2s ease-in-out;

    & + &
      padding-right: .75em;
      padding-left: 0;

  &__txt
    position: relative;
    z-index: 2;
    display: inline-block;
    min-width: 1.5em;
    opacity: 1;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
    cursor: pointer

    font-weight: 200;
    position: absolute;
    top: 3px;


.btn-switch__label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: 1.5em;
  border: solid 1px #b0b7be;
  box-shadow: inset 0 .0715em .3572em rgba(43,43,43,.05);
  transition: background .2s ease-in-out;

  //height: 40px;
  //width: 70px;
}
.btn-switch__radio--male:checked ~ .btn-switch__label:before {
  background: #fff;
}
.btn-switch__label--male .btn-switch__txt {
  left: -100px;
}
.btn-switch__label--female .btn-switch__txt {
  right: -110px
}
.btn-switch__label--female:after {
  content: "";
  position: absolute;
  z-index: 2;
  //top: .5em;
  //bottom: .5em;
  //left: .5em;
  //width: 2em;
  top: 3px;
  /* bottom: .5em; */
  left: 3px;
  //width: 1em;
  width: 24px;
  height: 24px;
  background: #5b50c6;
  border-radius: 1em;
  pointer-events: none;
  box-shadow: 0 .1429em .2143em rgba(43,43,43,.2), 0 .3572em .3572em rgba(43,43,43,.1);
  transition: left .2s ease-in-out, background .2s ease-in-out;
}
.btn-switch__radio--male:checked ~ .btn-switch__label--female:after {
  //left: calc(100% - 2.5em);
  left: calc(100% - 27px);
  background: #5b50c6;
}
.btn-switch__radio--female:checked ~ .btn-switch__label--male:before,
.btn-switch__radio--male:checked ~ .btn-switch__label--female:before {
  z-index: 1;
}

.btn-switch__radio--male:checked ~ .btn-switch__label--male {
  color: #000000;
}

.btn-switch__radio--female:checked ~ .btn-switch__label--female {
  color: #000000;
}



.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  //font-size: 16px;
  //color: #fff;
  //width: 220px;
  //height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //background-color: #c0392b;
  padding: 20px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #808890
}

.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #808890 transparent transparent transparent;
  border-radius: 4px;
  //border-color: #808890;
  position: absolute;
  top: 24px;
  right: 10px;
}


.select-styled:active:after, .select-styled.active:after {
  top: 17px;
  border-color: transparent transparent #636f7b transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: solid 1.2px #b0b7be;
  border-top: 0
}
.select-options li {
  cursor: pointer
  color: #808890
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #b0b7be;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #171b20
}
.select-options li[rel="hide"] {
  display: none;
}


@media only screen and (max-width: 768px)
  .form
    width: 100%
  .column
    width: 45%
    & + &
      margin-left: auto
  .form__file
    border-radius: 6px 6px 6px 6px;
    min-width: 100%
    &-after
      display: none

@media only screen and (max-width: 568px)
  .form__info
    align-items: center;
  .wrapper
    align-items: flex-start;
  .form__inner
    flex-direction: column
  .column
    width: 100%
    & + &
      margin-top: 30px