//*
//  box-sizing border-box

// Fonts
roboto = 'Roboto', sans-serif;
ptsans = 'Pt sans', sans-serif;

//euroreg = "eurofurence  regular"
//eurobold = "eurofurence  bold"
//euroit = "eurofurence  italic"

//bold()
//  font-family eurobold
//it()
//  font-family euroit

reg()
  font-family ptsans


// Colors
hover         =  #48b3a5
blue10        =  #48b3a5
dark          =  #3c3c3c
yellow        =  #fbd71d
yellow11      =  #fff1cc
yellow12      =  #fffcf5
blue          =  #1d92d7
blue2         =  #0f4761
blue3         =  #71fff0
blue4         =  #53bae9
blue5         =  #23aae0
blue6         =  #b5deea
blue7         =  #1d91d7
blue8         =  #d4eefa
blue9         =  #5d63bc
blue11        =  #afeaff
blue12        =  #f0fbff
viol          =  #5552c4
viol11        =  #c5d6f3
viol12        =  #f0f6ff
grey          =  #767676
grey2         =  #252930
grey3         =  #eaeeef
grey4         =  #656565
grey5         =  #c1c1c1
grey6         =  #ada29e
soft          =  #f7fafc
orange        =  #f17300
orange2       =  #b85900
green         =  #60bcb0
green2        =  #65b138
green3        =  #00d1a2
green11       =  #caffee
green12       =  #f2fffb
// purple        =  # 
// pink          =  # 
red           =  #f4486d
brown         =  #151110
brown2        =  #94796f
brown3        =  rgba(27, 22, 20, 0.8)
brown4        =  #332f2e
brown5        =  #80655b
brown6        =  #7c6f6a
milk          =  #e5e1d0
black2        =  #1b1614
// gold          =  #

// Input colors - readonly - disabled - succes - error
BGreadonly    =  brown4
readonly      =  brown6
error         =  #c50018
success       =  #20831d
BGdisabled    =  #635d5a
disabled      =  milk
information   =  #0f4ede
warning       =  #d66e00

// Functions 
decor()
  text-decoration underline
  &:hover 
    text-decoration none

trs()
  transition ease-in-out .2s
trs-slow()
  transition ease-in-out .4s

for i in (1..100)
  .col__{i}
    width (i)%
    position: relative
